[MESSAGES CONTROL]
disable=import-error, logging-fstring-interpolation, protected-access, broad-exception-raised, no-member, missing-module-docstring

[FORMAT]
max-line-length=120

[DESIGN]
min-public-methods=0
max-public-methods=30
max-args=10
max-attributes=15
