[MESSAGES CONTROL]
disable=missing-module-docstring, logging-fstring-interpolation

[FORMAT]
max-line-length=120

[DESIGN]
; min-public-methods=0
; max-public-methods=30
max-args=10
max-attributes=15
